@model RemainsTest.Models.ChangePasswordModel

@{
    ViewBag.Title = "Изменение пароля";
}

<div class="panel-body">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="form-group">
            <label>Старый пароль:</label>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control width=15%", @placeholder = "Старый пароль" })
        </div>
            <div class="form-group">
                <label>Новый пароль:</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control width=15%", @placeholder = "Новый пароль" })
            </div>
            <input type="submit" value="Изменить пароль" class="btn btn-primary center-block" />
    }
</div>



